<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%- partial('google-analytics') %>
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <% if (theme.rss){ %>
    <link rel="alternate" href="<%= url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <% if (theme.favicon) { %>
    <link rel="apple-touch-icon" sizes="180x180" href="<%- theme.root%><%- theme.favicon.apple_touch_icon %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%- theme.root %><%- theme.favicon.medium %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%- theme.root %><%- theme.favicon.small %>">
    <link rel="manifest" href="<%- theme.root %><%- theme.favicon.webmanifest %>">
    <link rel="mask-icon" href="<%- theme.root %><%- theme.favicon.safari_pinned_tab %>" color="#5bbad5">
    <link rel="shortcut icon" href="<%- theme.root %><%- theme.favicon.ico %>">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="<%- theme.root %><%- theme.favicon.ms_browserconfig %>">
    <meta name="theme-color" content="#ffffff">
  <% } %>
  <% if (config.highlight.enable){ %>
    <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">
  <% } %>
  <%- css('css/style') %>
</head>
